* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

h1, h2 {
    padding: 1rem;
    text-align: center;
    color: white;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    padding: 2.5rem;
    margin: 12px;
    color: #C0C0C0;
    background-color: #252626;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.plan h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.plan .price {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #6ab04c;
}

.plan ul.details {
    list-style-type: none;
    text-align: left;
}

.plan ul.details li {
    margin: 8px;
}

.plan .fas {
    margin-right: 4px;
}

.plan li .fa-check {
    color: #6ab04c;
}

.plan li .fa-times {
    color: #eb4d4b
}

.plan a {
    display: block;
    margin-top: 1.5rem;
    padding: 11px 32px;
    color: white;
    background-color: #3E672D;
    border-radius: 8px;
    font-size: 1.1rem;
}

.plan a:hover {
    opacity: 0.8;
}

.plan.top {
    border: 2px solid #6ab04c;
}

.listing-badges {
    position: relative;
}

.plan.top span {
    padding: 4px;
    position: absolute;
    left: -74px;
    top: -20px;
    width: 130px;
    transform:  rotate(-45deg);
    background-color: #6ab04c;
    color: white;
    font-size: 1.1rem;
}